

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Indie Flower', cursive;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 10vh;
    background-image: url(../images/Small-Banner-.png);
    background-position: center;
    background-size: cover;
    align-items: center;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.7);
}  
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
    list-style: none;
}
a {
    text-decoration: none;
    font-size: 2rem;
    color: rgb(248, 248, 248);
    
}
.logo {
    font-size: 2.5rem;
    color: rgb(248, 248, 248);
}

h1 {
    font-family: 'Righteous', cursive;
}


.about {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutHeading {
    font-size: 2.7rem;
    margin: 7px;
    color: rgb(43, 43, 43);
}
.about-P {
    text-align: center;
    padding: 2px;
    
}
.btn {
    padding: 0.5em;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    margin-left: auto;
    font-family: var(--mf);
    font-size: 1em;
    font-weight: 400;
    border: 2.5px outset #F7F7F7;
    border-radius: 10px;
    background: rgba(242, 246, 248, 1);
    background: -moz-linear-gradient(-45deg, rgba(242, 246, 248, 1) 0%, rgba(216, 225, 231, 1) 50%, rgba(181, 198, 208, 1) 51%, rgba(224, 239, 249, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(242, 246, 248, 1)), color-stop(50%, rgba(216, 225, 231, 1)), color-stop(51%, rgba(181, 198, 208, 1)), color-stop(100%, rgba(224, 239, 249, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(242, 246, 248, 1) 0%, rgba(216, 225, 231, 1) 50%, rgba(181, 198, 208, 1) 51%, rgba(224, 239, 249, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(242, 246, 248, 1) 0%, rgba(216, 225, 231, 1) 50%, rgba(181, 198, 208, 1) 51%, rgba(224, 239, 249, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(242, 246, 248, 1) 0%, rgba(216, 225, 231, 1) 50%, rgba(181, 198, 208, 1) 51%, rgba(224, 239, 249, 1) 100%);
}

.btn:hover {
    transition: var(--transition);
    border: 2.5px inset #F7F7F7;
    background: rgba(242, 246, 248, 1);
    background: rgba(242, 246, 248, 1);
    background: -moz-linear-gradient(-45deg, rgba(242, 246, 248, 1) 0%, rgba(181, 198, 208, 1) 55%, rgba(216, 225, 231, 1) 56%, rgba(224, 239, 249, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(242, 246, 248, 1)), color-stop(55%, rgba(181, 198, 208, 1)), color-stop(56%, rgba(216, 225, 231, 1)), color-stop(100%, rgba(224, 239, 249, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(242, 246, 248, 1) 0%, rgba(181, 198, 208, 1) 55%, rgba(216, 225, 231, 1) 56%, rgba(224, 239, 249, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(242, 246, 248, 1) 0%, rgba(181, 198, 208, 1) 55%, rgba(216, 225, 231, 1) 56%, rgba(224, 239, 249, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(242, 246, 248, 1) 0%, rgba(181, 198, 208, 1) 55%, rgba(216, 225, 231, 1) 56%, rgba(224, 239, 249, 1) 100%);
    background: linear-gradient(135deg, rgba(242, 246, 248, 1) 0%, rgba(181, 198, 208, 1) 55%, rgba(216, 225, 231, 1) 56%, rgba(224, 239, 249, 1) 100%);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.indexHeading {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}