

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-height: 10vh;
    background-color: aqua;
}  
body {
    font-family: 'Indie Flower', cursive;
}
h1 {
    font-family: 'Righteous', cursive;
}
.nav-links {
    display: flex;

}