
html {
    height: 100vh;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Indie Flower', cursive;
    background-image: url(../images/chat-clipart-.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: space;
    display: flex;
    flex-direction: column;
}
section {
    height: auto; 
    min-height: 80vh;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 10vh;
    background-image: url(../images/Small-Banner-.png);
    background-position: center;
    background-size: cover;
    align-items: center;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.7);
}  
.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    list-style: none;
}
a {
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(248, 248, 248);
    
}
p{
    padding:2px;
    line-height: 1.14em;
}
.logo {
    font-size: 2.5rem;
    color: rgb(248, 248, 248);
    padding: 0.125em;
}

h1 {
    font-family: 'Righteous', cursive;
    text-align: center;
}


.backGround {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    padding: 0.5em;
    height: auto;
    max-width: 500px;
    overflow: auto;
    margin: 3em auto;
    background-color: rgba(250, 248, 248, 0.9);
    border-radius: 20px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.aboutHeading {
    font-size: 2.7rem;
    margin: 7px;
    color: rgb(43, 43, 43);
}
.about-P {
    text-align: center;
    padding: 2px;
    
}
.btn {
    padding: 0.5em;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    margin: 10px auto;
    margin-left: auto;
    font-family: var(--mf);
    font-size: 1em;
    font-weight: 400;
    border: 2.5px outset #F7F7F7;
    border-radius: 10px;
    background: rgba(242, 246, 248, 1);
    background: -moz-linear-gradient(-45deg, rgba(242, 246, 248, 1) 0%, rgba(216, 225, 231, 1) 50%, rgba(181, 198, 208, 1) 51%, rgba(224, 239, 249, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(242, 246, 248, 1)), color-stop(50%, rgba(216, 225, 231, 1)), color-stop(51%, rgba(181, 198, 208, 1)), color-stop(100%, rgba(224, 239, 249, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(242, 246, 248, 1) 0%, rgba(216, 225, 231, 1) 50%, rgba(181, 198, 208, 1) 51%, rgba(224, 239, 249, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(242, 246, 248, 1) 0%, rgba(216, 225, 231, 1) 50%, rgba(181, 198, 208, 1) 51%, rgba(224, 239, 249, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(242, 246, 248, 1) 0%, rgba(216, 225, 231, 1) 50%, rgba(181, 198, 208, 1) 51%, rgba(224, 239, 249, 1) 100%);
}

.btn:hover {
    transition: var(--transition);
    border: 2.5px inset #F7F7F7;
    background: rgba(242, 246, 248, 1);
    background: rgba(242, 246, 248, 1);
    background: -moz-linear-gradient(-45deg, rgba(242, 246, 248, 1) 0%, rgba(181, 198, 208, 1) 55%, rgba(216, 225, 231, 1) 56%, rgba(224, 239, 249, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(242, 246, 248, 1)), color-stop(55%, rgba(181, 198, 208, 1)), color-stop(56%, rgba(216, 225, 231, 1)), color-stop(100%, rgba(224, 239, 249, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(242, 246, 248, 1) 0%, rgba(181, 198, 208, 1) 55%, rgba(216, 225, 231, 1) 56%, rgba(224, 239, 249, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(242, 246, 248, 1) 0%, rgba(181, 198, 208, 1) 55%, rgba(216, 225, 231, 1) 56%, rgba(224, 239, 249, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(242, 246, 248, 1) 0%, rgba(181, 198, 208, 1) 55%, rgba(216, 225, 231, 1) 56%, rgba(224, 239, 249, 1) 100%);
    background: linear-gradient(135deg, rgba(242, 246, 248, 1) 0%, rgba(181, 198, 208, 1) 55%, rgba(216, 225, 231, 1) 56%, rgba(224, 239, 249, 1) 100%);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.indexHeading {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.25em;
}
.lable {
    font-size: 1.5rem;
}
#username {
    font-family: 'Indie Flower', cursive;
    border-radius: 5px;
    height: 1.2rem;
    border: 1px solid balck;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
textarea {
    border: 1px solid black;

}

.chatWrap {
    display: grid;
    grid-template-columns: 15% 15% 65%;
    grid-template-rows: 1.3em;
    font-size: 1.25rem;
    justify-content: space-evenly;
    align-items: flex-start;

}
.time {
    grid-column: 1/2;
    
    
    
}
.from {
    grid-column: 2/3;
    
}
.message {
    grid-column: 3/4;
    
}
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    min-height: 10vh;


}
.feet {
    color: whitesmoke;
    
}
.span {
    color: whitesmoke;
    padding-right: 10px;
}
.feet-bg {
    background-image: linear-gradient(-45deg,
            rgb(27, 240, 8),
            rgb(250, 95, 95),
            rgb(94, 102, 241));
    color: transparent;
    font-size: 1rem;
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
    animation: bg--animation 6s ease-in-out infinite alternate;
    -webkit-animation: bg--animation 6s ease-in-out infinite alternate;
}

@keyframes bg--animation {
    0% {
        background-position: left;
    }

    50% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}