{% extends 'base.html' %}
{% block content %}
<div class="backGround">
    <h1 class="aboutHeading">Hello {{ username }}</h1>
    <h3 class="Subheading">Whats this page all about?</h3>
    <p class="about-P">
        Well, Comhrá is the Irish word to chat.<br>
        This is a little Chat App 
        that is one of my projects for Code Institute code course if did.<br>
        Its demonstrates how to use Flask and how it works.<br>
        So sit back and have a wee chat with someone.<br>
        All the Best.<br>
        Clint.</p>
</div>

{% endblock %}