{% extends 'base.html' %}

{% block content %}
<div class="backGround">
    <h1>Welcome {{ username }}</h1>

    <form action="" method="POST">
        <textarea name="message" id="message" cols="30" rows="5"></textarea>
        <br>
        <button class="btn">SEND MESSAGE</button>

    </form>
    <div class="chatWrap">
        <div class="chat time">Time: </div>
        <div class="chat from">From: </div>
        <div class="chat message">Message:</div>
        {% for message in chat_messages %}
       
            <p>{{ message.timestamp }}:</p>
       
            <p>{{ message.from }}:</p>
       
            <p>{{ message.message }}<br>
            ==============</p>
            

        {% endfor %}

    </div>


    <script>
        /* this refreshes the page evey 5 seconds*/
        let textbox = document.getElementById("message")
        let timer = setTimeout(function(){
            location.reload();
        }, 5000);

        /* on key down clears out the timer and reset the the timer to refesh 7sec after every keydown
        (so you have 7sec to finish you message*/
        textbox.onkeydown = function(e) {
            clearTimeout(timer)
            timer = setTimeout(function() {
                location.reload();
            }, 7000 )
        }
    </script>
</div>
{% endblock %}