{% extends 'base.html' %}

{% block content %}
<div class="backGround">
    <div class="indexHeading">
        <h1 class="">Lets have a chat!</h1>

        <h3>Put your username in the box to start the chat</h3>
    </div>
    <div class="form">
        <form method="POST">
            <label for="username" class="lable">Username</label>
            <input type="text" id="username" name="username" placeholder="Your Chatty Name" />
            <button class="btn">Lets Chat!</button>
        </form>
    </div>
</div>
{% endblock %}